<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="net.crowmaster.esmfamil" >
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:hardwareAccelerated="true"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".activities.LoginActivity"
            android:screenOrientation="portrait"
            android:launchMode="singleInstance"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".activities.MainActivity"
            android:label="@string/app_name"
            android:launchMode="singleInstance"
            android:screenOrientation="portrait">

        </activity>

        <activity
            android:name=".activities.StartGameWaitingActivity"
            android:label="@string/app_name"
            android:launchMode="singleInstance"
            android:screenOrientation="portrait">

        </activity>



        <provider
            android:authorities="net.crowmaster.esmfamil.gamelistContentProvider"
            android:name=".providers.GameListContentProvider"
            android:exported="false"
            />

        <service android:name=".services.EventCheckerService" android:enabled="true"
            android:singleUser="true"/>
    </application>

</manifest>
